beautifulsoup4
celery==5.3.6
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0
Django==4.2.8
django-cors-headers==4.3.1
django-countries==7.5.1
django-extensions==3.2.3
django-filter==23.5
django-on-heroku==1.1.2
django-rest-passwordreset==1.3.0
django-rest-swagger==2.2.0
django-storages==1.14.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
dj-database-url==2.1.0
# docx2pdf==0.1.8  # only used in a window/Mac environment
drf-spectacular==0.26.5
drf-yasg==1.21.7
djangorestframework
docx2pdf
fuzzywuzzy
google-auth
google-cloud-storage
more-itertools
nltk
numpy
langchain
langchain_openai
llama-index
openai
pandas
pinecone-client
pdf2image
# pdfminer.six==20221105
psycopg2-binary
pymupdf
python-decouple
python-dotenv
python-Levenshtein
tabula-py
tabulate
tiktoken
unstructured
